.hp-process{
    padding-top: 3%;
    background-color:#ffffff ;
}
 
 
.hp-process h1 {
    text-align: center;
    font-family: 'Sora';  
    font-size: 2.8rem;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 45px;
}
 
.hp-process h6 {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    color: rgba(100, 48, 192, 1);
}
 
/* Layout for larger screens */
.mp-process {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 190px;
}
 
.mp-step {
    display: grid;
        text-align: center;
        flex: 1 1;
        min-width: 200px;
        max-width: 300px;
        background-color: #F8F8F9;
        border-radius: 12px;
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        padding: 20px;
        margin-bottom: 100px;
        min-height: 250px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        align-content: center;
        justify-items: center;
}
.mp-step img {
    width: 160px;
    height: 133px;
}
.mp-step h3 {
    font-size: 23px;
    font-weight: 500;
}
.mp-step p {
    font-size: 15px;
    margin-top: 10px;
    line-height: 20px;
    color: #040309;
}
 
/* Responsive for screens below 1024px */
@media (max-width: 1024px) {
    .mp-process {
        padding: 10px 50px;
    }
 
    .mp-step {
        max-width: 280px;
    }
 
    .hp-process h6 {
        font-size: 1rem;
    }
}
 
/* Responsive for screens below 768px */
@media (max-width: 768px) {
    .mp-process {
        padding: 10px 30px;
    }
 
    .mp-step {
        max-width: 260px;
        margin-bottom: 15px;
    }
    .hp-process h6 {
        font-size: 0.9rem;
    }
 
    .mp-step img {
        width: 160px;
        height: 145px;
    }
}
 
/* Responsive for screens below 460px */
@media (max-width: 460px) {
    .mp-process {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
 
    .mp-step {
        width: 100%;
        margin-bottom: 10px;
    }
    .hp-process h1 {
        font-size: 2rem;
        line-height: 31px;
    }
 
    .hp-process h6 {
        font-size: 0.85rem;
    }
 
    .mp-step img {
        width: 140px;
        height: 102px;
        margin-left: 15px;
        margin-top: 15px;
    }
}