.sm2-container {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 5%;
  justify-content: center;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 1);

}

.sm2-content {
  flex: 1;
  max-width: 500px;
  padding-right: 20px;
  margin-left: 20px;
}

.sm2-content h1 {
  font-size: 2.5em;
  font-family: 'Sora';
  margin-bottom: 10px;
  color: #333;
  font-weight: 400;
}

.sm2-content p {
  color: #040309;
  font-family: 'Inter';
  font-weight: 400;
  margin-top: 25px;
  font-size: 1rem;
  line-height: 1.6
}

.sm2-botton {
  width: 156px;
  margin-top: 20px;
  text-align: center;
  height: 40px;
  display: inline-block;
  padding: 10px 20px;
  background: rgba(100, 48, 192, 1);
  color: white;
  text-decoration: none;
  align-items: center;
  border-radius: 12px;
  transition: background-color 0.3s;
}

.sm2-botton:hover {
  background-color: #5a52d5;
}

.image-sm2-container {
  flex: 1;
  max-width: 500px;
  /* text-align: right; */
}

.image-sm2-container img {
  max-width: 400px;
  height: 401px;
  border-radius: 40px;
}
.sm2-subtitle {
  color: rgba(100, 48, 192, 1);
  font-size: 14px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .sm2-container {
    flex-direction: column;
    text-align: center;
  }

  .sm2-content,
  .image-sm2-container {
    padding: 20px 0;
   
  }

  .image-sm2-container {
    text-align: center;
  }

  .image-sm2-container img {
    max-width: 300px;
    height: 300px;
    border-radius: 40px;
  }
}