.service-nav {
    font-family: Arial, sans-serif;
    /* background: linear-gradient(#040309 68.04%, #1a1037, #532dbc); */
    color: white;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    height: 37px;
    padding-bottom: 69px;
    background-image: url("imageT.jpg.svg");
    background-size: cover;
}


.Service-nav-main  {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    
}

.service_content {
    max-width: 100%;
}

.service_content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 1.2;
    font-family: 'Sora';
    font-weight: 400;
}

.service_content p {
    font-size: 1rem;
    color: #C7CBD4;
    max-width: 100%;
    margin: 0 auto;
}

@media (min-width: 600px) {


    .service_content{
        max-width: 800px;
    }

    .service_content h1 {
        font-size: 3.5rem;
    }

    .service_content p {
        font-size: 1rem;
        max-width: 600px;
    }
    .service_content p {
        font-size: 0.8rem;
      
    }
}
@media screen,(max-width:480px) {
    .service_content p {
        font-size: 0.8rem;
      
    }
}